body{
    background-size: cover;
}
body .divContainerHeader{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: rgb(30, 50, 80);
    box-shadow: 0 2px 2px 1px rgba(5, 40, 100, 0.2);
    z-index: 1;
}
body .divContainerHeader header{
    width: 100%;
    height: 80px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
body .divContainerHeader header .imgLogo{
    margin-left: 1rem;
    height: 70px;
}
body .divContainerHeader header .ulMenu{
    display: none;
    gap: 15px;
    margin-right: 10px;
}
body .divContainerHeader header .ulMenu .liMenu{
    color: white;
    cursor: pointer;
}
body .divContainerHeader header .ulMenu .liMenu:hover{
    color: orange;
    transition: .7s;
}
body .divContainerHeader header .fa-bars{
    margin-right: 1rem;
    font-size: 2rem;
    /* color: rgb(5, 40, 100); */
    color: white;
    cursor: pointer;
}
/* /////////////////////////////////  */
.divCarousel{
    width: 100%;
    max-width: 1024px;
    height: 56.25vw;
    max-height: 576px;
    background: burlywood;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.divBefore{
    width: 5%;
    height: 8.5%;
    border-radius: 50%;
    background: orangered;
    position: absolute;
    left: 1%;
    top: 45%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.divBefore > i{
    font-size: 90%;
    font-weight: 600;
    color: white;
}
.divAfter{
    width: 5%;
    height: 8.5%;
    border-radius: 50%;
    background: orangered;
    position: absolute;
    right: 1%;
    top: 45%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.divAfter > i{
    font-size: 90%;
    font-weight: 600;
    color: white;
}
.divCarousel .divSlides{
    width: 400%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
    transition: 1s;
}
.divCarousel .divSlides .slide01{
    width: 25%;
    height: 100%;
    background: red;
    overflow: hidden;
}
.imgDefault{
    /* width: 25%; */
    height: 178%;
    margin-top: -19%;
}
.divCarousel .divSlides .slide02{
    width: 25%;
    height: 100%;
    background: green;
    overflow: hidden;
}
.divCarousel .divSlides .slide03{
    width: 25%;
    height: 100%;
    background: blue;
    overflow: hidden;
}
.divCarousel .divSlides .slide04{
    width: 25%;
    height: 100%;
    background: yellow;
    overflow: hidden;
}
/* /////////////////////////////////  */
body .divContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
body main{
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
body main .divWhats{
    width: 34px;
    height: 34px;
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    background: white;
    border-radius: ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
body main .divWhats .fa-square-whatsapp{
    font-size: 2.5rem;
    color: #34af23;
    margin: 0;
    cursor: pointer;
}
body main .divImgDefault{
    width: 100%;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
}
body main .divImgDefault .imgDefault{
    width: 100%;
    margin-top: -50px;
}
body main .containerCard{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
body main .containerCard .divCard{
    width: 90%;
    max-width: 288px;
    /* border-bottom: 2px solid #242625; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #209711;
}
body main .containerCard .divCard .headerCard{
    width: 100%;
    height: 2rem;
    background: orangered;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* margin-bottom: .5rem; */
}
body main .containerCard .divCard .headerCard .fa-house{
    font-size: 1.125rem;
    margin-left: 1rem;
    color: white;
}
body main .containerCard .divCard .headerCard h1{
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 4rem;
    /* margin-top: .5rem; */
    color: white;
    /* align-self: center; */
}
body main .containerCard .divCard .divImgCard{
    width: 288px;
    height: 288px;
    /* width: 100%; */
    margin-bottom: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body main .containerCard .divCard .divImgCard img{
    width: 100%;
    cursor: pointer;
    /* margin-bottom: 0.5rem; */
}
body main .containerCard .divCard img:hover{
    width: 120%;
    margin-left: -30px;
    margin-top: -20px;
    transition: .6s linear;
}
body main .containerCard .divCard > p{
    font-size: .875rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    color: white;
}
body main .containerCard .divCard .btnMore{
    width: 250px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: rgb(10, 104, 38);
    margin-left: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
body main .containerCard .divCard .btnMore:hover{
    width: 254px;
    height: 42px;
    margin-left: 18px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.divContainerFinal{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}
body main .divBtn{
    width: 100%;
    max-width: 320px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body main .divBtn .divSimulation{
    width: 85%;
    max-width: 288px;
    height: 50px;
    display: flex;
    border-radius: 20px;
    margin-bottom: 1rem;
    background: rgb(5, 40, 100);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
body main .divBtn .divSimulation .fa-calculator{
    color: white;
    font-size: 2rem;
}
body main .divBtn .divSimulation h1{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
body main .divBtn .divVisit{
    width: 85%;
    max-width: 288px;
    height: 50px;
    display: flex;
    border-radius: 20px;
    margin-bottom: 2rem;
    background: green;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
body main .divBtn .divVisit .fa-calendar-days{
    color: white;
    font-size: 2rem;
}
body main .divBtn .divVisit h1{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
body main .divBtn .divFinan{
    width: 85%;
    max-width: 288px;
    height: 90px;
    display: flex;
    border-radius: 20px;
    margin-bottom: 2rem;
    background: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
body main .divBtn .divFinan > img{
   height: 90%;
}
body main .imgFinal{
    width: 605px;
    height: 320px;
    /* border: 1px solid red; */
    overflow: hidden;
    display: none;
    box-sizing: border-box;
    /* border-radius: 20px 0 0 20px; */
    position: relative;
    margin-right: 25px;
    border-radius: 10px;
    z-index: 0;
}
body main .imgFinal > img{
    margin-left: -16px;
    /* width: 100%; */
    margin-top: -15%;
    height: 130%;
    /* border-radius: 20px; */
}
body main .imgFinal .divMsg{
    /* margin-left: 18px; */
    width: 180px;
    height: 310px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    top: 5px;
}
body main .imgFinal .divMsg .divTexto{
    width: 145px;
    height: 135px;
    /* border: 1px solid red; */
    background: rgba(255, 69, 0, 0.9);
    border-radius: 20px 20px 20px 0;
    box-sizing: border-box;
    padding: 15px;
}
body main .imgFinal .divMsg .divTexto .msgFinal{
    /* margin: 15px; */
    color: white;
    line-height: 150%;
}
body main .imgFinal .divMsg > img{
    height: 165px;
    /* margin-bottom: 30px; */
}
footer{
    width: 100%;
    /* height: 200px; */
    background: rgb(30, 50, 80);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .imgLogo{
    height: 80px;
    margin-top: 1rem;
}
footer .links{
    width: 80%;
    max-width: 256px;
    display: flex;
    gap: 1rem;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-evenly;
}
footer .links i{
    color: white;
    font-size: 1.8rem;
}
footer article{
    font-size: .625rem;
    color: white;
    text-align: center;
    margin: 15px 10px 60px 10px;
    line-height: 150%;
}
footer p{
    font-size: .625rem;
    color: white;
    text-align: center;
    margin: 15px 10px 60px 10px;
    line-height: 150%;
}
dialog{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}
dialog .divModal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}
dialog .divModal .divMenu{
    width: 100%;
    max-width: 1024px;
    min-width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    /* border-radius: 10px; */
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    align-items: flex-end;
}
dialog .divModal .divMenu .btnClose{
    width: 80px;
    height: 40px;
    outline: none;
    background: grey;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}
dialog .divModal .divMenu .pHome{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: .5rem;
    cursor: pointer;
}
@media(min-width: 600px){
    body main .imgFinal{
        display: flex;
    }
    body .divContainerHeader header .fa-bars{
        display: none;
    }
    body .divContainerHeader header .ulMenu{
        display: flex;
    }
}
@media(min-width: 768px){
    body .divContainerHeader header{
        max-width: 1024px;
    }
    .divContainer{
        max-width: 1024px;
    }
    body .divContainer header{
        width: 1024px;
    }
    body main .divImgDefault{
        width: 100%;
        height: 500px;
        overflow: hidden;
        box-sizing: border-box;
    }
    body main .divImgDefault .imgDefault{
        width: 100%;
        margin-top: -120px;
    }
    body main .divWhats{
        width: 40px;
        height: 40px;
        right: 11rem;
        bottom: 2rem;
    }
    body main .divWhats .fa-square-whatsapp{
        font-size: 3rem;
    }
    .divBefore > i{
        font-size: 150%;
    }
    .divAfter > i{
        font-size: 150%;
    }
}