body{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 50px;
}
body h1{
    color: red;
    font-size: 2rem;
    font-weight: 600;
}
body div{
    width: 310px;
    height: 40px;
    border-radius: 20px;
    background: black;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
body div p{
    color: white;
    font-weight: 500;
}
